#nav-bar {
  position: fixed;
  top: 0px;
  z-index: 1000;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  margin: 0px 5px 0px 0px;
}

#nav-bar .header {
  float: left;
  margin: 0px 0px 0px 5px;
  font-size: 2em;
  line-height: 2;
}